.mdc-card{
    margin: 10px;
    cursor: pointer;
}

.mdc-card__actions{
    display: flex;
    justify-content: flex-end;
}

.mdc-fab{
    background-color: #8963BA;
    position: fixed;
    bottom: 36px;
    right: 18px;
}

.card-content{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.plan-icons{
    height: 24px;
}

.plan-icons span{
    font-size: 16px;
}

.task-list{
    display: flex;
    flex-wrap: wrap;
    padding: 5px
}
.chip{
    background-color: #ff6b6c;
    color: white;
    border-radius: 15px;
    padding: 0px 5px;
    margin: 5px;
    white-space: nowrap;
}
.chip span{
    font-size: 14px;
}