.mdc-tab-scroller__scroll-area--scroll {
  overflow: hidden; /* Hide scrollbars */
}

.mdc-tab-scroller,
.mdc-tab-scroller__scroll-area,
.mdc-tab-scroller__scroll-content {
  height: 50px;
}

body {
  --mdc-theme-primary: #8963ba;
}

.mdc-tab {
  color: #06767b;
}

.mdc-card {
  padding: 10px;
  margin: 10px;
}

.title {
  color: #8963ba;
  font-size: large;
}
.post-content {
  line-height: 20px;
  color: #06767b;
}

.motto {
  color: #06767b;
}

.cardheader {
  display: flex;
  width: 100%;
  align-items: center;
  color: #8963ba;
}

.likes,
.comments {
  color: #8963ba;
}

.task {
  display: flex;
  align-items: center;
  margin: 5px;
}

.day{
  margin: 20px 10px;
}
